---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Editor from "../../components/gallery/Editor";

const pageTitle = "Gallery Editor";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="gallery-root">
    <section class="panel" transition:name="gallery-main">
      <Editor client:load />
    </section>
  </div>
</BaseLayout>


