---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Editor from "../../components/gallery/Editor";

const pageTitle = "Gallery Editor";
---

<BaseLayout pageTitle={pageTitle}>
  <section transition:name="gallery-main">
    <Editor client:load />
  </section>
</BaseLayout>


