---
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageTitle = "Gallery Editor";
---

<BaseLayout pageTitle={pageTitle}>
  <section transition:name="gallery-main">
    <p>Editor placeholder. Components will be added in the next step.</p>
    <p>
      Go to <a href="/gallery/viewer" transition:name="gallery-link">Viewer</a>.
    </p>
  </section>
</BaseLayout>


