---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Viewer from "../../components/gallery/Viewer";

const pageTitle = "Gallery Viewer";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="gallery-root">
    <section class="panel" transition:name="gallery-main">
      <Viewer client:load />
    </section>
  </div>
</BaseLayout>


