---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Viewer from "../../components/gallery/Viewer";

const pageTitle = "Gallery Viewer";
---

<BaseLayout pageTitle={pageTitle}>
  <section transition:name="gallery-main">
    <Viewer client:load />
  </section>
</BaseLayout>


