---
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageTitle = "Gallery Viewer";
---

<BaseLayout pageTitle={pageTitle}>
  <section transition:name="gallery-main">
    <p>Viewer placeholder. Components will be added in the next step.</p>
    <p>
      Back to <a href="/gallery/editor" transition:name="gallery-link">Editor</a>.
    </p>
  </section>
</BaseLayout>


