html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

html.dark {
  background-color: #090a11;
  color: #fff;
}

html.stuck {
  overflow: hidden;
}

.dark .nav-links a {
  color: #fff;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: none;
  width: 100vw;
  height: 100vh;
  margin-top: 1em;
}

.nav-links.expanded {
  display: flex;
  flex-direction: column;
}

.nav-links a {
  text-decoration: none;
  font-size: 1.5em;
  color: inherit;
}

.nav-links a:hover {
  text-decoration: underline;
}

.hamburger {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hamburger-close {
  display: none;
  cursor: pointer;
}

.hamburger.hidden {
  display: none;
}

.hamburger-close.visible {
  display: block;
}

#themeToggle.hidden {
  display: none;
}

@media screen and (min-width: 636px) {
  .nav-links {
    display: block;
    position: static;
    width: auto;
    height: auto;
    background: none;
    font-size: 0.8em;
  }

  .nav-links a {
    display: inline-block;
    padding: 0 20px 10px;
  }

  .nav-links a:first-of-type {
    padding-left: 0;
  }

  .hamburger {
    display: none;
  }
}