---
import Hamburger from "./Hamburger.astro";
import NavigationLink from "./NavigationLink.astro";
---
<nav>
  <Hamburger />
  <div class="nav-links">
    <NavigationLink href="/">Home</NavigationLink>
    <NavigationLink href="/about">About</NavigationLink>
    <NavigationLink href="/blog">Blog</NavigationLink>
    <NavigationLink href="/tags">Tags</NavigationLink>
    <NavigationLink href="/gallery/editor">Gallery</NavigationLink>
  </div>
</nav>
